@import "tailwindcss";

* {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

:root {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--color-gray-900);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 2.3em;
    line-height: 1.1;
    font-family: 'Roboto Medium', Arial, sans-serif;
}

button {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Roboto Medium', Arial, sans-serif;
    color: var(--color-gray-900);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    margin: 0 auto 120px;
    padding: 0 15em;

    @media (max-width: 1023px) {
        padding: 0 2em;
        margin-bottom: 40px;
    }
}

.content {
    padding: 0 4em;
    text-align: justify;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.custom-text-semibold {
    font-family: 'Roboto Medium', Arial, sans-serif;
}

.custom-text-bold {
    font-family: 'Roboto Medium', Arial, sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../public/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../../public/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../../public/fonts/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../../public/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../../public/fonts/Roboto-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
